@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.content2{
    display: flex;
    justify-content: space-around;
    margin-top: 7vw;
}

.welcome-text2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.landing-text3 {
    font-weight: 900;
    font-size: 3vw;
}

.landing-text4{
    font-size: 1vw;
    font-weight: 130;
    width: 70%;
}

.share-button{
    border: none;
    background-color: #FF8140;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
    margin-left: 0px;
    width: fit-content;
    margin-top: 25px;
}

.share-button:hover{
    transform: scale(1.13);
    cursor: pointer;
}

.navigate-button{
    border: none;
    background-color: #219090;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
    margin-left: 20px;
    width: fit-content;
    margin-top: 25px;
}

.navigate-button:hover{
    transform: scale(1.13);
    cursor: pointer;
}

.main-image2{
    width: 40vw;
    max-width: 500px;
    max-height: 600px;
    border-top-left-radius: 250px;
    border-top-right-radius: 270px;
    filter: drop-shadow(8px 4px 24px rgba(0, 0, 0, 0.35));
    animation: bounce 1s ease infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-40px);}
    60% {transform: translateY(-20px);}
}

