@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-page1{
    background-color: #040F17;
}

.content{
    display: flex;
    justify-content: space-around;
}

.main-image{
    width: 40%;
    height: 44vw;
    border-top-left-radius: 330px;
    border-top-right-radius: 350px;
    filter: drop-shadow(8px 4px 24px rgba(0, 0, 0, 0.25));
    position: relative;
    top: 3vw;
    animation: bounce 1s ease infinite;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3vw;
}

.landing-text1 {

    font-weight: 900;
    font-size: 3.5vw;
    color: white;
    position: relative;
    top: 20px;
}

.landing-text2{
    font-family: 'Poppins';
    color: white;
    font-size: 2vh;
    font-weight: 100;
    margin-top: 20px;
}

.org-text{
    color: #FF8140;
}

.start-button{
    background-color: #FF8140;
    font-size: 1.6vw;
    font-weight: bold;
    color: white;
    width: fit-content;
    padding: 12px 15px;
    margin-left: 0px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

.start-button:hover{
    cursor: pointer;
    border: solid;
    border-color: #2590BA;
    border-width: 2px;
}



.stats{
    list-style-type: none;
    color: white;
    position: relative;
    bottom: .5vw;
}

.stats li{
    margin-right: 40px;
    display: inline-block;
    text-align: center;
}


.big-text{
    font-weight: 500;
    font-size: 3.5vw;
}

.middle-text{
    font-weight: 600;
    font-size: 1.2vw;
}
.blue-text{
    color: #2590BA;
}

.logo-img{
    position: absolute;
    width: 6%;
    top: 15px;
    left: 5%;   
}

.logo-img:hover{
    cursor: pointer;
}

i{
    padding-right: 4px;
}

  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-40px);}
      60% {transform: translateY(-20px);}
  }