.search-bar{
    margin-top: 4vw;
    position: relative;
    width: 80%;
    height: 100px;
    background-color: #040F17;
    border-radius: 22px;
    display: flex;
    justify-content: space-around;
    left: 50%;
    transform: translate(-50%, 0);
}

select{
    width: fit-content;
    height: 35px;
    color: white;
    background-color: rgba(256, 256, 256, 0.2);
    margin-top: 8px;
    border-color: white;
    border-radius: 5px;
}

.filter-div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: white;
}

.search-button{
    position: absolute;
    right: 1%;
    bottom: 10%;
    width: 3.2vw;
    background-color: #FF8140;
    padding: 3px;
    border-radius: 10px;
    color: white;
    font-size: 1.6vw;
    text-align: center;
}

.search-button:hover{
    transform: scale(1.13);
    cursor: pointer;
}