.main-div{
    height: 100vh;
    width: 100%;
    background-color: #040F17;
}

.main-image{
    background-image: url(../images/mainimage.jpg);
    position: absolute;
    width: 500px;
    height: 600px;
    left: 50%;
    top: 15%;
    border-top-left-radius: 250px;
    border-top-right-radius: 270px;
    filter: drop-shadow(8px 4px 24px rgba(0, 0, 0, 0.25));
}

.welcome-text{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-text1 {

    font-weight: 900;
    font-size: 70px;
    color: white;
}

.landing-text2{
    font-family: 'Poppins';
    color: white;
    font-size: small;
    font-weight: 100;
    margin-top: 20px;
}

.org-text{
    color: #FF8140;
}

.start-button{
    border: none;
    background-color: #FF8140;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 20px;
    width: fit-content;
    margin-top: 20px;
}

.start-button:hover{
    transform: scale(1.13);
    cursor: pointer;
}



.stats{
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
    color: white;
}

.blue-text{
    color: #2590BA;
}

.big-text{
    font-weight: 500;
    font-size: 45px;
}

.welcome-text2{
    position: absolute;
    top: 160%;
    left: 50%;
}

.landing-text3 {
    font-weight: 900;
    font-size: 35px;
}

.landing-text4{
    font-size: small;
    font-weight: 130;
    margin-top: 20px;
}

.share-button{
    border: none;
    background-color: #FF8140;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 20px;
    width: fit-content;
    margin-top: 25px;
}

.share-button:hover{
    transform: scale(1.13);
    cursor: pointer;
}

.navigate-button{
    border: none;
    background-color: #219090;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 20px;
    width: fit-content;
    margin-top: 25px;
}

.navigate-button:hover{
    transform: scale(1.13);
    cursor: pointer;
}

.main-image2{
    background-image: url(../images/landing-image2.jpg);
    position: absolute;
    width: 400px;
    height:450px;
    left: 7%;
    top: 150%;
    border-top-left-radius: 250px;
    border-top-right-radius: 270px;
    filter: drop-shadow(8px 4px 24px rgba(0, 0, 0, 0.25));
}

.subscription{
    position: absolute;
    top: 300%;
    background-color: #051018;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}

.sub-text{
}

.sub-text1{
    font-weight: 900;
    font-size: 12;
    color: white; 
}

.sub-text2{
    font-weight: 200;
    font-size: 8;
    color: rgba(256, 256, 256, 0.7);
}

.sub-img{
    width: 400px;
    height: 200px;
    background-image: url('../images/sub-img.jpg');
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-top: 15px;
}

.sub-submit{
    border: none;
    background-color: #FF8140;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 20px;
    width: fit-content;
    margin-top: 20px;
}
.sub-submit:hover{
    transform: scale(1.13);
}

.email-input{
    width: 40%;
    height: 45px;
    border-radius: 10px;
    padding: 6px;
font-size: medium;
}

.contact{
    position: absolute;
    top: 347%;
    left: 10%;
    width: 100%;
}

.contact-title1{
    font-weight: 700;
}

.contact-desc{
margin-top: 15px;
}

.contact-btn-container{
    display: flex;
}

.tlphn-btn{
    border: none;
    background-color: #1F637E;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-right: 40px;
    margin-top: 20px;

}

.tlphn-btn:hover{
    transform: scale(1.13);
}

.email-btn{
    border: none;
    background-color: #FF8140;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-right: 40px;
    margin-top: 20px;
    width: 100px;

}

.email-btn:hover{
    transform: scale(1.13);
}

.about{
    position: absolute;
    top: 410%;
    background-color: #040F17;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 45px;
    padding-right: 320px;

}

.about-img{
    background-image: url('../images/about.jpg');
    width: 300px;
    height: 250px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    position: absolute;
    right: 0%;
}

.about-title{
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.rights{
    position: absolute;
    color: white;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 10px;
    padding: 3px;
}

.contact-logo{
    background-image: url('../images/biglogo.png');
    width: 250px;
    height: 366px;
    position: absolute;
    right: 30%;
    top: 0%;
}

