.subscription{
    margin-top: 5vw;
    background-color: #051018;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    display: flex;
}

.sub-text{
}

.sub-text1{
    font-weight: 900;
    font-size: 3vw;
    color: white; 
}

.sub-text2{
    font-weight: 200;
    font-size: 1.5vw;
    color: rgba(256, 256, 256, 0.7);
}

.sub-img{
    width: 30%;
    height: auto;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-top: 15px;
    margin-right: 6vw;
}

.sub-submit{
    border: none;
    background-color: #FF8140;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 20px;
    width: fit-content;
    margin-top: 20px;
}
.sub-submit:hover{
    transform: scale(1.13);
}

.email-input{
    width: 40%;
    height: 45px;
    border-radius: 10px;
    padding: 6px;
    font-size: medium;
}