.create-offer-form {
  margin-left: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: 70vh;
}

.create-offer-form .title {
  font-size: 25px;
  font-weight: 700;
}

.create-offer-form select {
  width: 40%;
  border-radius: 10px;
  padding-left: 10px;
  height: 50px;
}

.create-offer-form .input-ctn {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin: 30px;
  padding-left: 30px;
  border-radius: 50px;
}

.create-offer-form .input-half {
  width: 40%;
  height: 50px;
  padding-left: 20px;
  border-radius: 10px;
}

.input-full {
  width: 100%;
  height: 50px;
  margin: 30px;
  padding-left: 20px;
  border-radius: 10px;
}

.create-offer-form .half-ctn {
  width: 40%;
}
